.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #98002e;
	background-image: url("../cssAssets/patternbg.png");
	padding: 20px 15px;
}

.nav-title {
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.nav-title > p {
	font-size: 25px;
	color: #f9a01b;
	letter-spacing: 1px;
	font-family: "Alfa Slab One", sans-serif;
}

.nav-title-small {
	display: none;
}

.nav-search {
	display: flex;
	align-items: center;
	margin-left: 30px;
	margin-right: 10px;
	background-color: white;
	padding: 5px 20px 5px 20px;
	border-radius: 30px;
}

.nav-search-small {
	display: none;
	align-items: center;
	margin-left: 30px;
	margin-right: 30px;
	background-color: white;
	padding: 5px 20px 5px 20px;
	border-radius: 30px;
}

.nav-shopping-cart {
	padding-right: 20px;
	color: #f9a01b;
	cursor: pointer;
}

.search-input {
	outline: none;
	border: none;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	width: 450px;
}

.add-to-cart {
	position: absolute;
	z-index: 2;
	max-width: 90%;
}
@media screen and (max-width: 750px) {
	.search-input {
		width: 100%;
	}
	.nav-search-small {
		display: flex;
		width: 100%;
	}
	.nav-search {
		display: none;
	}
}

@media screen and (max-width: 540px) {
	.nav-title-small {
		display: block;
	}
	.nav-title-small > * {
		width: 100%;
		height: 100%;
		font-size: 30px;
		color: #f9a01b;
	}
	.nav-title {
		display: none;
	}
}
