.wrapper{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main{
    display:flex;
    gap: 2%;
    width: 85%;
    position: relative;
    flex-wrap: wrap;
}

.filter-menu{
    display:flex;
    flex-direction: column;
    gap:20px;
    height: auto;
    width: 15%;
    padding:10px;
}

.dropdown-menu-button{
    cursor: pointer;
}

.article-model-container,
.article-colour-container,
.article-size-container,
.article-price-container{
    display: flex;
    flex-direction: column;
    background-color:white;
    border:1px solid rgba(0,0,0,0.2);
}

.article-model-container-title,
.article-colour-container-title,
.article-size-container-title,
.article-price-container-title{
    display: flex;
    justify-content:space-between;
    padding:5px;
    border-bottom:1px solid rgba(0,0,0,0.2);
    font-size: 14px;
}

.article-price-number-desc{
    font-size: 14px;
}

.article-model-container-list,
.article-colour-container-list{
    padding:2px 2px 2px 5px;
}

.article-price-container-list{
    padding:5px;
}

.article-price-container-list > *:nth-child(1){
    margin-top:5px;
}

.article-price-container-list > *{
    margin-bottom:5px;
}

.article-model-container-list > div,
.article-colour-container-list > div{
    display: flex;
    gap:6px;
    align-items:center;
    cursor: pointer;
    font-size: 14px;
    margin-bottom:2px;
}

label{
    cursor: pointer;
}

input[type="number"] {
    width:100%;
    height:30px;
    padding:10px;
}

.article-price-button{
    width:100%;
    outline: none;
    border: none;
    cursor: pointer;
    height:30px;
    background-color:#98002E;
    color:white;
    margin-top:5px;
}


input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    border:1px solid black;
    height:9px;
    width:9px;
    cursor: pointer;
}

.article-size-container-list{
    display: flex;
    flex-wrap: wrap;
    gap:3px;
    padding:3px;
}

.size-box{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:15px;
    border:1px solid rgba(0,0,0,0.2);
    flex: 1 0 30%;
    cursor: pointer;
}

.article-item{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    flex: 1 0 30%;
    padding:5px;
    cursor: pointer;
}

.brand-container,
.name-container{
    display:flex;
    justify-content:flex-start;
    width: 100%;
    padding:3px;
}

.brand{
    font-weight: 500;
    font-size: 12px;
    color:rgba(0,0,0,0.5)
}

.name-container{
    min-height:40px;
}

.name{
    font-weight: 500;
    font-size: 14px;
}

.discount{
    margin-left:10px;
}

.price-container{
    font-size: 16px;
    font-weight: 600;
    padding:3px;
}

.slashed{
    color:rgba(0,0,0,0.5);
    text-decoration: line-through;
}

img{
    width: 350px;
    height: 350px;
    object-fit: contain;
}

.price-container{
    display: flex;
    width: 100%;
}

.modal-wrapper{
    background-color:rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display:flex;
    align-items:center;
    justify-content:center;
}

.modal-wrapper-hidden{
    background-color:rgba(0,0,0,0.5);
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.modal{
    background-color:white;
    width: 1240px;
    display:flex;
    padding:10px;
}

.modal-image img{
    height:500px;
    width:700px;
    object-fit: fill;
}

.modal-first-row{
    display:flex;
    justify-content:space-between;
    margin-top:15px;
    margin-right: 20px;
}

.modal-info{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding:15px;
    width: 100%;
}

.close-modal{
    cursor:pointer;
}

.modal-brand{
    font-weight: 500;
    font-size: 12px;
    color:rgba(0,0,0,0.5)
}

.modal-name{
    margin-top:15px;
    font-size: 20px;
    font-weight: 600;
}

.modal-second-row{
    display:flex;
    flex-wrap: wrap;
    margin-top:15px;
    gap: 10px;
}

.size-box-modal{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:15px 25px 15px 25px;
    border:1px solid rgba(0,0,0,0.2);
    cursor: pointer;
}

.filter-title{
    font-size:20px;
    font-weight: 600;
    letter-spacing:1.5px;
    margin-top:15px;
}

.modal-order{
    width:100%;
    height:50px;
    outline:none;
    border: none;
    cursor: pointer;
    background-color:#98002E;
    color:white;
}

@media screen and (max-width:1323px) {
    img{
        width: 250px;
        height: 250px;
        object-fit: contain;
    }
}

@media screen and (max-width:1024px) {
    .filter-menu{
        display:none;
    }
    .main{
        padding:10px;
        width: 100%;
    }
}

@media screen and (max-width:540px){
    img{
        width: 350px;
        height: 350px;
        object-fit: contain;
    }
}